<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IServiceDbWorker" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62470/IEmplements/ServiceDbWorker.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IServiceDbWorker"
                contract="IdemService.IServiceDbWorker" name="WSDualHttpBinding_IServiceDbWorker">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>